* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li, .nav-link {
    font-size: 20px;
    font-family: helvetica;
    color: white;
    text-decoration: none;
}

 .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5% 8px 5%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-back {
    width: 100%;
    align-self: center:
}
.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li:hover {
    -webkit-text-stroke-width: 1px;
}

.nav-logo {
    height: 45px;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}



@media all and (max-width: 960px) {
    .navbar {
        flex-direction: column;
        position: relative;
        height: 71px;
    }
    .menu {
        display: block;
        position: absolute;
        right: 47px;
        top: 27px;
        cursor: pointer;
    }
    .nav-logo {
        display: block;
        position: absolute;
        left: 47px;
    }
    .nav-list{
        padding-top: 58px; 
        display: none;
        width: 130%;
        
    }
    .nav-list li {
        display: block;
        padding: 20px 0;
        text-align: center;
        border-bottom: 2px solid rgb(0, 0, 0);
        background: rgba(255, 255, 255, 0.8);
    }
    li, .nav-link {
        font-size: 20px;
        font-family: helvetica;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .active {
        display: block;
    }
} 

@media all and (min-width: 1440px) { 
    .img-back {
        width: 1440px;
    }
}

@media all and (max-width: 960px) {
    .img-back {
        width: 100%;
    }
}

