/* CSS CONTENTS
/* --------------------------
/* 1. Site Wide CSS
/* 2. Page Specific CSS
/* 3. Custom CSS - Other


/* 1. Site Wide CSS
/* --------------------------*/

/* #region - Utility Classes */
/* --------------------------*/

body { 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.flex {
    display: flex;
    gap: var(--gap, 3rem);
}


.sr-only {
    display: none;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

li, .nav-link {
    font-size: 20px;
    font-family: helvetica;
    color: white;
    text-decoration: none;
}


/* Fonts */

p {
    font-family: 'Josefin Sans',sans-serif;
    line-height: 1.8;
}

a{ 
    color: inherit; 
  }
  
  a:visited{
    color:inherit;
  }
  
  a:hover{
    color:inherit;
}
/* #endregion */

/* #region - Header          */
/* --------------------------*/

header { 
    max-height: 85px;
    align-items: center;
    justify-content: space-between;
    background: black;
}


.logo {
    height: 45px;
    margin: 2rem;
    padding-top: 2px
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-back {
    width: 100%;
    align-self: center:
}
.nav-list {
    list-style: none;
    margin-right: 2rem;
}

.primary-navigation a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: 0.5em;
}

.primary-navigation a:hover {
    -webkit-text-stroke-width: 1px;
}

.primary-navigation a:hover > span {
    -webkit-text-stroke-width: 0px;
}

.header-image img {
    width: 100%;
}

.header-image-text {
font-family: 'Josefin Sans',sans-serif;
font-weight: 700;
font-style: italic;
font-size: 2rem; 
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

@media (min-width: 960px) {
.mobile-slide-over-background {
    display: none;
    }
}


@media (max-width: 960px) {
    .primary-navigation {
        --gap: 1.5em;
        z-index: 9998;
        position: fixed;
        inset: 0 0 0 10%;



@media all and (max-width: 960px) {
    .navbar {
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(30%);
        transition: 350ms cubic-bezier(0.77,0,0.18,1);
        opacity: 0%;
    
    }

    .primary-navigation li {
        position: relative;
        text-align: left;
        padding: 0 12em;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
        opacity: 100%;
        height: 71px;
    }
    
    .menu {
        display: block;
        position: absolute;
        right: 47px;
        top: 27px;
        cursor: pointer;
    }

    .mobile-slide-over-background {
        --gap: 1.5em;
        width: 960px;
        z-index: 9997;
        position: fixed;
        inset: 0 0 0 10%;
        background: hsla(0, 0%, 0%, 0.8);
        -webkit-backdrop-filter: blur(5px); /* Fixes blur for Safari*/
        backdrop-filter: blur(5px);  /* This line activates blur*/

        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
        
        transform: translateX(100%);
        transition: 350ms cubic-bezier(0.86,0,0.07,1);
    
    }

    .mobile-slide-over-background[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("/icons/hamburger.svg");
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.6rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("/icons/close.svg");
    }


}
/* #endregion */

/* #region - Sub Header      */
/* --------------------------*/

.header-image {
    width: auto;
    max-height: 280px;
    position: relative;
    text-align: center;
    color: white;
    object-fit: cover;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  }
  
  @media (max-width: 960px) {
    .header-image-text {
        font-size: 1.3rem; 
      }
    
      .header-image {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
      }
  }
/* #endregion */

/* #region - Footer          */
/* --------------------------*/

footer {
    margin-top: 6em;;
    height: 3em;
    width:100%;
    text-align: center;
}
/* #endregion */


// 2. Page Specific CSS
//------------------------------

/* #region - About Page      */
/* --------------------------*/

.about-page {
    width: 100%;
}

.about {
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 60px;
    max-width: 900px;
}

.about-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

@media (max-width: 960px) {
    .about {
        max-width: 85%;
        padding-top: 40px;
    }
}
/* #endregion */
=======
        left: 47px;
    }
    .nav-list{
        padding-top: 58px; 
        display: none;
        width: 130%;
        
    }
    .nav-list li {
        display: block;
        padding: 20px 0;
        text-align: center;
        border-bottom: 2px solid rgb(0, 0, 0);
        background: rgba(255, 255, 255, 0.8);
    }
    li, .nav-link {
        font-size: 20px;
        font-family: helvetica;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .active {
        display: block;
    }
} 

@media all and (min-width: 1440px) { 
    .img-back {
        width: 1440px;
    }
}

@media all and (max-width: 960px) {
    .img-back {
        width: 100%;
    }
}


