* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



li, a {
    font-size: 20px;
    font-family: helvetica;
    color: white;
    text-decoration: none;
}

 .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5% 8px 5%;
}

.imag-back {
    width: 100%;
    height:100%;
}
.nav-list {
    list-style: none;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li:hover {
    -webkit-text-stroke-width: 1px;
}

.nav-logo {
    height: 45px;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

@media all and (max-width: 960px) {
    .navbar {
        flex-direction: column;
        position: relative;
        height: 73px;
    }
    .menu {
        display: block;
        position: absolute;
        right: 27px;
        top: 27px;
    }
    .nav-logo {
        display: block;
        position: absolute;
        left: 27px;
    }
    .nav-list{
        padding-top: 60px;
        width: 130%;
    }
    .nav-list li {
        display: block;
        padding: 20px 0px;
        text-align: center;
        border-top: 1px solid white;
        background: rgba(76, 175, 80, 0.3);
        backdrop-filter: blur(6px);
    }

} 